.container {
  margin: 100px;
  position: relative;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: inherit;
}

.section-img-container {
  width: inherit;
  position: inherit;
}

.section-img-container>img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
}